<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>What your friends are up to...</h3>
            </div>
        </div>
        <div class="event-info row">
            <div class="event-header">
                <h3>EVENTS</h3>
            </div>
            <div class="event-items">
                <% @events.each do |u| %>
                    <div class="col-lg-2 col-md-2 col-xs-2 thumb">
                        <img class="event-tile" src="/<%= u['image'] %>" alt="">
                        <p class="event-caption"><%= u['name'] %></p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="strip"></div>
<div class="bottom">
    <div class="container">
        <h3>Some of the events your friends are checking out...</h3>
        <% @comp_list.each do |event, users| %>
            <div class="events-row row">
                <div class="col-lg-3">
                    <a class="btn btn-success event-btn"><i class="event-add fa fa-plus-circle"></i>
                    <%= event['name'] %></a>
                    <p class="event-added">Event Added!</p>
                </div>
                <div class="col-lg-9">
                    <div class="people-list">
                        <% users.each do |u| %>
                            <div class="col-lg-2 col-md-2 col-xs-2 thumb">
                                <img class="img people-img" src="/<%= u['image'] %>" alt="">
                                <p class="people-list-caption"><%= u['name'] %></p>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>    
</div>

